/* Main */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}
p {
    font-size: 18px;
    color: white;
    line-height: 33px;
    font-weight: 500;
}
a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 15px 0px;
}
h1 {
    font-size: 72px;
    color: white;
    max-width: 650px;
}
h2 {
    color: #00517F;
    font-size: 48px;
    font-weight: 800;
}
h3 {
    font-size: 36px;
    font-weight: 700;
    color: white;
    padding-bottom: 20px;
}
img {
    display: flex;
    background-size: cover; 
}

/* Nav bar */
nav {
    padding: 30px 90px 30px 30px;
    text-align: right;
}
.link{
    padding: 15px;
}
.link:hover{
    color: #181E34;
    transition: all 0.3s ease-in-out;
}
#logo {
    position: absolute;
    top: 45px;
    left: 120px;
}
#logo:hover {
    cursor: pointer;
}
.lightBlueButton {
    height: 60px;
    width: 150px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    margin: 0px;
    background-color: #6ECCE5;
    background: linear-gradient(to left, #6ECCE5 50%, #181E34 50%);
    background-size: 200%;
    background-position: right;
    transition: all .5s ease-in-out;
}
.lightBlueButton:hover{
    background-position: left;
    color: #FEEDEB;
}


/* Hero section*/
header {
    background-image: linear-gradient(118.33deg, rgba(110, 204, 229, 1) -60.94%, rgba(0, 81, 127, 1) 62.06%);
    padding-bottom: 20px;  
}
.description {
    max-width: 438px;
    padding-bottom: 40px;
}
.flexContainer {
    display: flex;
    flex: 1 1;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0px 60px; 
    margin: 40px 60px;  
    justify-content: center;
    align-items: center;
}
.leftBox {
    width: 50%;
}
.rightBox {
    width: 40%;
    justify-content: right;
}
#heroImage {
    display: flex;
    flex: 1 2;
    margin-top: 20px; 
}

/* We want to show you section */
#showYou {
    background-color: white;
    margin-top: 60px;
    padding: 100px 0px;
}
#top3 {
    max-height: 490px;
    width: auto;
}
#checkingPhone {
    padding-top: 40px;
}

/* 3rd section */
#pWhiteBack {
    color: #181E34;
}
#percentagesChart{
    position: relative;
    left: -90px;
    padding-top: 80px;
}


/* Widget section */
#marketWidget {
    text-align: center;
    background-color: #00517F;
    padding: 100px 0px;
}

/* Articles section */
#articleSection {
   margin: 0px 140px;
   padding: 40px 0px;
}
#articles {
    color: #68686A;  
    padding-left: 10px;
    text-align: center;
}
.blogName {
    color: #68686A;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 600;
}
.blogImage {
    max-width: 360px;
    height: auto;
    border-radius: 10px;
    padding: 0px 8px;
}
/* Send message section */
#sendMessage {
    margin: 80px 120px;
    text-align: center;
    background: linear-gradient(118.33deg, rgba(110, 204, 229, 1) -60.94%, rgba(0, 81, 127, 1) 62.06%);
    border-radius: 10px;
    padding: 100px 260px;
}

/* Footer */
footer {
    background-color: #181E34;
    padding: 100px 120px;
    text-align: left;
}
#footerTitle {
    max-width: 600px;
}
#footerLogo {
    width: 300px;
    height: auto;
}
#footerLogo:hover {
    cursor: pointer;
}
#signature {
    padding-top: 30px;
    font-size: 15px;
}
#bottomHome{
    padding-left: 0px;
}
.bottomLink:hover{
    color: #6ECCE5;
    transition: all 0.3s ease-in-out;
}

/* About Page */
#investingPageRap {
    background-color: #00517F;
    margin: 0px;
}
#investingTitle {
    text-align: center;
    color: white;
    margin: 0px;
    padding: 80px 0px;
}
iframe {
    border-radius: 10px;
    min-width: 850px;
    max-width: 1040px;
    min-height: 600px;
    max-height: 680;
    position: relative;
    left: -200px;
}
#videoSection{
    background-color: #276C93;
    margin-left: 600px;
   padding: 20px 0px;
   border-radius: 10px;
   margin-bottom: 100px;
}
#optionSection{
    background-color: #FFF;

}
#indexTitle{
    text-align: center;
    margin: 80px 0px;
    padding: 60px 0px;
    color: #00517F;
}
.choiceBlocks{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
}
.choiceBlocks:hover{
    transform: scale(1.03);
    transition: ease-in-out .5s;
    cursor: pointer
}
.choiceBlocks {
  transform: scale(1);
  transition: all 1s ease;
}
.choiceBlock{
    max-width: 440px;
    padding: 500px;
}
#etfBlock{
    display: inline-block;
    background-color: #00517F;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 60px;
}
#indexFundBlock{
    display: inline-block;
    background-color: #00517F;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 60px;
}
.blockImage{
    max-width: 395px;
    max-height: 349px;
}
.blockDescription{
    color: #FFF;
    text-align: center;
    font-size: 26px;
}
#appearsEtf{
    padding: 40px 0px;
}
#appearsIndex{
    padding: 40px 0px;
}
#lastSection{
    background-color: #FFF;
    padding-top: 30px;
}
h4{
    font-size: 18px;
    color: #6ECCE5;
}

/* Asset List Page */
#assetsTopSection {
    background-color: rgba(39, 108, 147, 1);
    color: white;
    margin: 0;
    padding: 100px 180px 180px 160px;
    max-width: 600px;
    max-height: 400px;
}
#assetsTitle {
    color: #FFF;
}
select {
    min-width: 200px;
    float: left;
    padding: 10px;
    margin: 40px 0px;
}
#filter {
    width: 100px;
    margin: 0px;
    padding: 0px;
    
}
.assetBlock{
    min-width: 300px;
    max-width: 320px;
    max-height: 300px;
    background-color: rgba(39, 108, 147, 1);
    border-radius: 20px;
    margin: 40px 20px 20px 20px;
    padding: 40px 60px;
    color: white;
}
.assetBlockTitle {
    margin: 40px 25px 0px 0px;
    font-size: 20px;
}
.assetType {
    width: 100px;
}
.detailsButton {
    margin: 0px;
    background-color: #181E34;
    border-radius: 10px;
    width: 124px;
    height: 50px;
    text-align: center;
}
.typeFigure {
    margin-top: 5px;
}
.inlineFlex {
    display: inline-flex;
    align-items: center;
    margin: 40px 0px;
}

/* Calculator Page*/
  #calculatorPage {
    text-align: center;
    margin-top: 80px;
  }
  form {
    background: #00517F;
    margin: 0 auto; 
    border-radius: 40px;
    padding: 80px;
    max-width: 900px;
  }
  label {
      font-size: 24px;
      font-weight: 700;
      color: white;
  }
  .formTextBundle {
    max-width: 400px;
  }
  .formDescription {
    color: rgba(110, 204, 229, 1);
    font-size: 18px;
    font-weight: 600;
  }
.numberInput {
    float: right;
    position: relative;
    top: -80px;
    height: 35px;
    min-width: 280px;
    font-size: 20px;
}
#buttons {
    text-align: center;
    padding: 40px;
}
.button {
    text-decoration: none;
    font-size: 18px;
    color: #6ECCE5;
    padding: 15px 40px;
    border: 3px solid #6ECCE5;
    position: relative;
}
.button::before, .button::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: all .5s;
}
.button::before {
    top: -15px;
    left: -15px;
    border-width: 3px 0 0 3px;
}
.button::after {
    bottom: -15px;
    left: -15px;
    border-width: 0 3px 3px 0;
}
.button:hover::before, .button:hover::after {
    width: calc(100% + 27px);
    height: calc(100% + 27px);
}
#calculate {
    margin-right: 30px;
    color: rgba(224, 109, 16, 1);
    border: 3px solid rgba(224, 109, 16, 1);
}
#reset {
    margin-left: 10px;
}
#answer {
    color: #00517F;
    font-size: 24px;
    padding: 40px 0px;
    margin: 0px 0px 80px 180px;
}
  /* Blog Page */
  #navOther {
      background-color: #00517F;
  }
  #blogTitle {
      text-align: center;
      font-size: 64px;
      font-weight: 700;
      color: #68686A;
  }
  #blogFlex {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
  }
  .blogBlock {
      height: 544px;
      max-width: 432px;
      margin: 60px 10px 60px 30px;
      border: 2px solid rgba(109, 109, 109, .55);
      box-shadow: 2px 3px 6px rgba(109, 109, 109, 0.8);
      padding: 0px;
  }
  .blogLink {
      padding: 0px;
  }
  .blogBlock:hover {
    transform: scale(1.03);
    transition: ease-in-out .5s;
  }
  .blogBlock {
    transform: scale(1);
    transition: all 1s ease;
  }
  .blogCover {
      min-height: 280px;
      width: auto;
  }
  h5 {
     font-size: 18px;
     font-weight: 700; 
     margin: 40px 25px 0px 25px;
     color: #181E34;
  }
  .blogDescription {
      color: #6D6D6D;
      font-size: 18px;
      font-weight: 600;
      margin: 10px 25px;
  }
  .author, .dateWritten {
      display: inline;
      color: rgba(109, 109, 109, 0.55);
      font-size: 16px;
      font-weight: 600;
      margin: 0px 25px;
  }

/* Responsiveness */
@media (max-width: 480px) { 
    html,
    body {
        margin: 0px;
        width: 100%;
        /* overflow-x:hidden; */
    }
    nav {
        padding: 30px 30px;
    }
    #logo {
        left: 20px;
    }
    h1 {
        font-size: 60px;
    }
    h3 {
        font-size: 35px;
    }
    h2 {
        font-size: 40px;
    }
    img{
        max-width: 300px;
        height: auto;
        align-items: left;
    }
    #heroSection {
        max-width: 400px;
        margin-left: 10px;
    }
     #checkingPhone {
         display: none;
     }
     #allocationRight {
        margin-left: 10px;
     }
    #showYou {
        max-width: 400px;
        margin-left: 0px;
    }
    .flexContainer{
        min-height: none;
        justify-content: center;
    }
    .rightBox {
        width: 0%;
        justify-content: center;
        padding: 0px;

     }
     .leftBox {
         width: 0%;
         justify-content: center;
         padding: 0px;
     }
     #heroImage {
         padding: 0px;
         margin-top: 60px;
     }
     #sendMessage {
        margin: 80px 40px;
        text-align: center;
     }
     #widgetChart{
         visibility: hidden;
         max-height: 150px;
     }
     #allocationTitle {
         max-width: 400px;
     }
     /* #percentagesChart{
         min-width: 350px;
     } */
     
     /* change the above 2 if i can make the widget work in different screen sizes */
     .numberInput {
        margin-top: 100px;
        min-width: 150px;
    }
    .button::before, .button::after {
        position: absolute;
        width: 40px;
        height: 40px;
        transition: all .5s;
    }
    .button::before {
        display: none;
    }
    .button::after {
        display: none;
    }
    #reset {
        margin: 200px 0px;
    }
    #answer {
        text-align: center;
        margin-left: 0px;
    }
}

@media (max-width: 768px){
    #widgetChart{
        visibility: hidden;
        max-height: 150px;
    }
}


@media (max-width: 1024px) {
    body {
        margin: 0px;
        width: 100%;
    }
    h1 {
        font-size: 60px;
    }
    header {
        padding-bottom: 60px;
    }
    .link {
        display: none;
    }
    .flexContainer {
        justify-content: center;
        margin: 20px 60px;
    }
    .rightBox {
        width: 100%;
        padding-left: 10px;
     }
     .leftBox {
         width: 100%;
     }
     #heroSection {
        padding: 10px 0px 60px 60px;
    }
     #showYou { 
         padding: 10px 0px 60px 80px;
     }
     #allocation {
         padding-bottom: 80px;
         
     }
     #checkingPhone {
         display: none;
     }
     #chart {
        padding: 10px 0px 60px 100px;
     }
     #allocationRight {
        padding: 10px 0px 60px 60px;
     }
     #allocationTitle {
         max-width: 90%;
     }
     .linkBlock {
         padding-top: 20px;
     }
     #sendMessage {
        padding: 100px 120px;
    }
     #bottomLinks a {
         font-size: 15px;
     }
     footer {
        padding: 60px 120px;
     } 
     #widgetChart{
        visibility: hidden;
        max-height: 150px;
    }
  }

  @media (max-width: 1200px){ 
      /* //480px, 768px, 1024px, and 1280px). */
      
  }

  @media (min-width: 1440px){
    .leftBox {
        width: 50%;
        padding-left: 100px;
    }
    .flexContainer {
        gap: 0px;
        padding-bottom: 60px;
    }
    form {
        margin: 0 auto; 
    }
  }
